#be
*.jar
.env
*.class
*.war
*.ear
*.nar
*.log
logs/

# frontend
node_modules/
dist/
jspm_packages/
build/
dist/
npm-debug.log*

#typescript 
*.tsbuildinfo
.eslintcache
.stylelintcache

# system
.DS_Store
.idea/
.vscode/
.DS_Store
Thumbs.db
*.iml
*.iws
out/

# Docker data
docker/mysql/
docker/redis/
docker/minio/


# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# IDE
.vscode/
.idea/